                <div class="social_icon">
                	<ul>
                    	<li class="no_padd_left"><a href="#"> <%= image_tag("fb_icon.png") %></a></li>
                        <li><a href="#"> <%= image_tag("twitter_icon.png") %></a></li>
                        <li class="no_padd_right"><a href="#"><%= image_tag("youtube_icon.png") %></a></li>
                    </ul>
                </div>